Repository motleystate/moonstone, pull requests merged in 2020-08, with the labels that each got.

#6 Documentation
  README.md
  docs/api_docs/parsers.rst
  docs/changelogs.rst
  docs/conf.py
  docs/contribution_guide/contributing.rst
  docs/img/countparser.png
  docs/index.rst
  docs/user_guide/getting_started_with_moonstone.rst
  docs/user_guide/installation.rst
  docs/why_moonstone.rst
  moonstone/parsers/base.py
  moonstone/parsers/counts/picrust2.py
  moonstone/parsers/counts/taxonomy/base.py
  moonstone/parsers/counts/taxonomy/kraken2.py
  moonstone/parsers/counts/taxonomy/metaphlan2.py
  moonstone/parsers/counts/taxonomy/qiime.py
  moonstone/parsers/metadata.py
Labels: documentation

#7 base module for report and visualization
  docs/api_docs/filtering.rst
  docs/index.rst
  docs/user_guide/getting_started_with_moonstone.rst
  moonstone/analysis/differentialanalysis.py
  moonstone/core/__init__.py
  moonstone/core/module_base.py
  moonstone/core/plot_base.py
  moonstone/filtering/__init__.py
  moonstone/filtering/base.py
  moonstone/filtering/filtering.py
  moonstone/filtering/mean_filtering.py
  moonstone/filters/filtering.py
  tests/filtering/__init__.py
  tests/filtering/test_filtering.py
  tests/filtering/test_mean_filtering.py
Labels: architecture, module: filtering, module: plot

#10 Refactor filtering module
  README.md
  docs/api_docs/filtering.rst
  docs/changelogs.rst
  docs/index.rst
  docs/user_guide/available_classes.rst
  docs/user_guide/getting_started_with_moonstone.rst
  moonstone/analysis/differentialanalysis.py
  moonstone/core/module_base.py
  moonstone/filtering/__init__.py
  moonstone/filtering/base.py
  moonstone/filtering/basics_filtering.py
  moonstone/filtering/filtering.py
  moonstone/filtering/mean_filtering.py
  moonstone/filtering/taxonomy_filtering.py
  moonstone/main.py
  moonstone/parsers/filtering.py
  tests/filtering/test_base.py
  tests/filtering/test_basics_filtering.py
  tests/filtering/test_filtering.py
  tests/filtering/test_taxonomy_filtering.py
Labels: module: filtering, refactoring

#9 plot module
  docs/api_docs/plot.rst
  docs/index.rst
  docs/user_guide/getting_started_with_moonstone.rst
  moonstone/core/plot_base.py
  moonstone/filtering/mean_filtering.py
  moonstone/plot/global_plot.py
  moonstone/plot/plot_template.py
  tests/plot/test_global_plot.py
Labels: architecture, module: plot
