Repository motleystate/moonstone, pull requests merged in 2020-09, with the labels that each got.

#24 add DifferentialAnalysis to API doc
  docs/api_docs/analysis.rst
  docs/user_guide/available_classes.rst
  docs/user_guide/getting_started_with_moonstone.rst
  moonstone/analysis/__init__.py
  moonstone/analysis/differential_analysis.py
  tests/analysis/test_differential_analysis.py
Labels: documentation, module: analysis

#29 Alpha diversity Shannon index
  .github/workflows/coverage.yml
  .github/workflows/python-package.yml
  docs/api_docs/analysis.rst
  docs/user_guide/available_classes.rst
  moonstone/analysis/diversity/alpha.py
  moonstone/plot/graphs/bargraph.py
  moonstone/plot/graphs/histogram.py
  moonstone/plot/metadata.py
  requirements.txt
  setup.py
  tests/analysis/diversity/test_alpha.py
Labels: module: analysis

#28 26 randomly select counts
  docs/api_docs/normalization.rst
  docs/api_docs/parsers.rst
  docs/index.rst
  docs/user_guide/available_classes.rst
  docs/user_guide/getting_started_with_moonstone.rst
  moonstone/filtering/basics_filtering.py
  moonstone/normalization/base.py
  moonstone/normalization/counts/__init__.py
  moonstone/normalization/counts/random_selection.py
  moonstone/parsers/counts/__init__.py
  moonstone/parsers/counts/genes.py
  tests/analysis/diversity/test_alpha.py
  tests/normalization/counts/test_random_selection.py
  tests/normalization/counts/test_total_counts.py
  tests/normalization/test_base.py
Labels: module: normalization

#32 31 randomselection multiindexed
  docs/user_guide/available_classes.rst
  moonstone/normalization/counts/random_selection.py
  tests/normalization/counts/test_random_selection.py
  tests/parsers/counts/taxonomy/kraken2/sunbeam_kraken2.tsv
  tests/parsers/counts/taxonomy/kraken2/test_kraken2.py
Labels: module: normalization
